.overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: 1;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);

  &.is-visible { animation: fade-in 0.3s 1 forwards; }
  &.fade-out   { animation: fade-out 0.3s 1 forwards; }
}
