/* colors */
$ruddy:       #c27778;
$grey:        #cccccc;
$light-grey:  #f3f3f3;
$clear-white: rgba(255, 255, 255, 0.3);


/* fonts */
@font-face {
  font-family: 'Brandon';
  src: font-url('Brandon_light.otf');
  font-weight: normal;
}

$brandon: 'Brandon', 'Helvetica Neue', Helvetica, Arial;


/* animations */
@keyframes fade-in {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fade-out {
  from { opacity: 1; }
  to   { opacity: 0; }
}

@keyframes slide-left {
  from { right: -2000px; }
  to   { right:     0px; }
}

@keyframes make-opaque {
  from { background: rgba(255, 255, 255, 0.5 ); }
  to   { background: rgba(255, 255, 255, 0.95); }
}

@keyframes slide-dash-top {
  from { transform: translateX(-50%); }
  to   { transform: translateX(  0%); }
}

@keyframes slide-dash-left {
  from { transform: translateY(  0%); }
  to   { transform: translateY(-50%); }
}

@keyframes slide-dash-right {
  from { transform: translateY(-50%); }
  to   { transform: translateY(  0%); }
}


/* mixins */
@mixin input-placeholder {
  &.placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &:-ms-input-placeholder { @content; }
  &::-webkit-input-placeholder { @content; }
}


/* general page element styles */
* { box-sizing: border-box; }

body {
  font: 400 2em $brandon;
  background: image_url('satinweave.png');
}

.ember-application { margin: 0 20px; }


/* reusable placeholder selectors */
%main-panel {
  border: 1px dashed $ruddy;
  overflow: hidden;
  position: relative;
  min-height: 150px;

  &:after {
    padding-top: 32.5%;
    display: block;
    content: '';
  }
}

%close-button {
  top: 7px;
  right: 10px;
  color: $ruddy;
  cursor: pointer;
  position: absolute;
  transition: 0.2s;

  &:hover,
  &:focus {
    transform: scale(1.2);
  }
}
