header {
  top: 2px;
  position: relative;
  font-size: 30px;
  font-weight: 400;
  line-height: 65px;

  span {
    color: $clear-white;
    text-shadow: -1px -1px $grey;
    font-family: monospace;
    letter-spacing: 1px;
    text-transform: uppercase;

    &:first-of-type { margin-right: 0.4em; }
  }

  &:before {
    left: 2px;
    color: $clear-white;
    content: '\f041';
    position: relative;
    font-family: 'FontAwesome';
    text-shadow: -1px -1px $grey;
    margin-right: 0.4em;
  }

  .config {
    top: -15px;
    right: 20px;
    color: $clear-white;
    cursor: pointer;
    position: absolute;
    font-size: 50px;
    transition: 0.3s ;
    text-shadow: -1px -1px $grey;

    &:before {
      top: 2px;
      left: 1px;
      position: relative;
    }

    &:hover {
      transform: rotate(180deg) scale(1.2);
    }
  }
}
