@import 'emoji_toggle';

.settings .note {
  @extend %settings-container;

  display: flex;
  align-items: flex-start;
  justify-content: space-around;

  section {
    width: 50%;
    height: 100%;
    margin: auto;
    padding: 10px;
  }

  .title { text-transform: uppercase; }

  .font-container {
    .font-list {
      margin: 0;
      padding-left: 0;
    }

    li {
      cursor: pointer;
      list-style: none;
      margin-bottom: 5px;

      .radio-select {
        $size: 21px;

        top: 4px;
        color: $ruddy;
        width: $size;
        height: $size;
        border: 2px solid $ruddy;
        display: inline-block;
        position: relative;
        transition: background-color 0.2s;
        margin-right: 10px;
        border-radius: $size / 2;
        background-color: transparent;
      }

      &.active .radio-select {
        background-color: $ruddy;
      }

      input {
        width: 82%;
        border: 0;
        outline: none;
        display: block;
        font-size: 20px;
      }

      &.sans input {
        padding: 2px 8px;
        font-family: $sans;
      }

      &.mono input {
        color: $mono-black;
        padding: 8px;
        font-size: 17px;
        font-family: $mono;
      }

      &.cursive input {
        color: $cursive-black;
        padding: 0 4px;
        font-size: 29px;
        line-height: 27px;
        font-family: $cursive;
      }
    }
  }

  .emoji-container {
    @extend %emoji-toggle;

    .lazy {
      $size: 199px;

      float: left;
      width: $size;
      height: $size;
      margin: 15px 15px 0 0;
      border: 1px dashed $ruddy;

      &.blackAndWhite {
        filter: grayscale(1);
        transform: translateZ(0);
      }
    }

    p {
      float: left;
      max-width: 50%;
      font-size: 16px;
      font-style: italic;
    }
  }
}
