* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #404040;
  font: 400 20px 'Brandon', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
}

.ember-application {
  margin: 0 20px;
}

h1 {
  font-size: 22px;
  margin: 0;
  font-weight: 400;
}

a {
  color: #404040;
  text-decoration: none;
}

a:hover { color: #101010; }

.map {
  position: absolute;
  left: 33.3333%;
  width: 66.6666%;
  top: 0;
  bottom: 0;
}
